# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
tfplan
plan.txt
crash.log

# Secrets/Credentials
license.pem
*.key
*.pem
kubeconfig*
private/

#macOS
.DS_Store
